@using AirQualityApp.Shared.Data
@inject AQIDataService AQIService


<input placeholder="Location" @bind="newLocation" />
<button @onclick="AddLocation">Add Location</button>
<button @onclick="Refresh">Refresh Data</button>

@if (isLoading)
{
    <p><em>Loading AQI..</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>AQI</th>
                <th>Level of Concern</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in AQIService.Data)
            {
                <tr>
                    <td>@item.Location</td>
                    <td>@item.AQI</td>
                    <td>@item.Level</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string? newLocation;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    void AddLocation()
    {
        if (string.IsNullOrWhiteSpace(newLocation))
            return;

        AQIService.Data.Add(new AQIData { Location = newLocation });
        newLocation = string.Empty;
    }

    async Task Refresh()
    {
        isLoading = true;
        await AQIService.GetAQIAsync();
        isLoading = false;
    }
}
