@page "/"
@inject NavigationManager NavManager

<PageTitle>Air Quality</PageTitle>

<h1>Air Quality</h1>

<AirQualityWeb.SharedComponents.AQITable NavigateLocationDetails="NavigateToLocationAsync" />

@code
{
    Task NavigateToLocationAsync(string location)
    {
        NavManager.NavigateTo($"location/{location}");
        return Task.CompletedTask;
    }
}
